#Intro  {
    color: white;
    text-align: center;
}


#todo div {
    margin-left: 100;
    margin-right: 100;
    border: 2px solid rgba(0, 0, 0, 0.623);
}

#todo button {
    background-color: #555555;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 50px;
    margin-left: 50px;
}

#todo button:hover {
    background-color: #555555;
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

#contenido {
    background-color: gainsboro;
}

#newEventModal,
#deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #202020;
    box-shadow: 0px 0px 3px white;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
    color: white;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton,
#deleteButton {
    background-color: grey;
}

#saveButton,
#closeButton {
    background-color: grey;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}