<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg   navbar-dark " style="background-color:#202124 ;">
  
  <div class="container p-2">
    <a class="navbar-brand" href="/"><%= title %></a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/">
            <span class="material-symbols-outlined">
              person
              </span>
            <!-- <span class="material-icons me-1">how_to_reg</span> -->
            Ingresar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/registro">
           <span class="material-icons me-1">person_add_alt</span>
            Registrarse
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <hr> -->